@import "~bootstrap/scss/bootstrap";

//include mixins
@import "mixins/rem";

//include global styles
@import "global/buttons";
@import "global/global";
@import "global/kamersites";

//include block styles
@import "blocks/block";

//include components
@import "components/header";
@import "components/footer";

//include pages
@import "pages/home";
@import "pages/kameroverzicht";

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li{ position: relative; width:50%;	}
    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{ display: block; }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
}
/* ============ small devices .end// ============ */
body {
    font-family: 'Poppins', sans-serif;
        padding-top:125px;    
}
.HomePage {
    padding-top:unset;
}
.pagination {

    li {
        padding: 10px;
        background: #fff;
        color: #e54e54;
        font-size: 14px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        float: left;
        margin-right: 10px;
        width: 40px;
        text-align: center;
        margin-top: 10px;

        a {
            color: #e54e54;
            text-decoration:none;
        }
    }
    a.next, a.prev {
        margin-top: 10px;
        padding: 10px;
    }
}
.icon {
    display:inline-block;
    padding:10px;
    background:#f5f5f5;
    margin-right:10px;
    min-width:40px;
}
.icon-wohnung {
    margin-right:10px;
}
#Breadcrumbs, #Breadcrumbs2 {
    margin-bottom:30px;
}
.tabContainer {
    @include media-breakpoint-down(md) {
        margin-top:30px;
    }
}
.stadte-list {
    width:33%!important;
    display:inline-block;
}
@media screen and (min-width:992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        min-width: 900px;
        max-width: 100vw;
        overflow-x: auto;
    }
    .dropdown-menu-start {
        left: 0 !important;
        right: auto !important;
    }

    .dropdown-menu-end {
        right: 0 !important;
        left: auto !important;
    }
}

.two-columns {
    width:50%;
}
@media screen and (max-width:992px) {
    .stadte-list, .two-columns {
        width:100%!important;
        display:block;
    }
}
.global-title {
    position:relative;
    padding-left:55px;
    &:before {
        content:'';
        background:url('../../../../public/vdk.webp'), no-repeat;
        background-size:cover;
        width:50px;
        height:50px;
        position:absolute;
        left:0;
    }
}
