
ul.resp-tabs-list { margin: 0px; padding: 0px; display: flex; justify-content: center; border: 1px solid #000; border-radius: 5px; }
.resp-tabs-list li { font-size: 1.375rem; padding: 7px 20px 7px; margin: 0; list-style: none; cursor: pointer; color:#000; text-align: center; position: relative; min-width: 170px; }
.resp-tabs-list li a { color:#000; text-decoration: none; }
.resp-tabs-list li.resp-tab-active { background-color: #000F08; }
.resp-tabs-list li.resp-tab-active a { color: #fff; }

.resp-tabs-container { padding: 0px; }
.resp-tabs-container h2, .resp-tabs-container h2 a { font-size:18px; color:#fff; text-decoration:none; }
.resp-tab-content { display: none; }
.resp-tab-content .content { font-size:16px; color:#000F08; }

h2.resp-accordion { cursor: pointer; padding: 5px; display: none; }
.resp-content-active, .resp-accordion-active { display: block; }


@media only screen and (max-width: 768px) {	
    
    /* ul.resp-tabs-list { display: none!important; }	
    h2.resp-accordion { display: block; background: #08306a; color: #000; position:relative; }	
    .resp-vtabs .resp-tabs-container { border: none; float: none; width: 100%; min-height: initial; clear: none; }	
    .resp-accordion-closed { display: none !important; }
    h2.resp-accordion .resp-arrow { content: ''; background: url('../images/down-arrow.png') no-repeat right center; position: absolute; top: 25px; right: 20px; width: 20px; height: 10px; }	
    h2.resp-accordion.resp-tab-active .resp-arrow { transform:rotate(-180deg); } */

}