.main-footer {
    padding:30px 0px;
}
.content-blok-tekst a.button {
    width:33%;
    font-size:13px;
    text-decoration:underline;

    @include media-breakpoint-down(md) {
        width:50%;
        margin-bottom:5px;
    }
}

.content-blok-titel {
    border-top: 1px solid #253443;
    margin-top:10px;
}